In [10]:
import glob, os
import pandas as pd

In [11]:
files = glob.glob("data/*.csv")
files

['data\\gdp_per_capita.csv',
 'data\\life_expectancy_years.csv',
 'data\\population_total.csv']

In [17]:
d = {}

for file in files:
    d[file] = pd.read_csv(file)
    d[file].set_index("country", inplace=True)

In [6]:
labels = ['GDP per capita', 'Life Expectancy', "Total Population"]

In [18]:
d

{'data\\gdp_per_capita.csv':                       1800  1801  1802  1803  1804  1805  1806  1807  1808  \
 country
 Afghanistan            674   674   674   674   674   674   674   674   674
 Angola                 691   693   697   700   702   705   709   712   716
 Albania                746   746   746   746   746   747   747   747   747
 Andorra               1340  1340  1340  1350  1350  1350  1350  1360  1360
 United Arab Emirates  1120  1120  1120  1130  1130  1140  1140  1150  1150
 ...                    ...   ...   ...   ...   ...   ...   ...   ...   ...
 Samoa                 1570  1570  1570  1570  1570  1570  1570  1570  1570
 Yemen                  981   983   986   988   992   994   997  1000  1000
 South Africa          1760  1740  1720  1700  1680  1590  1590  1730  1510
 Zambia                 741   743   746   747   749   750   752   755   756
 Zimbabwe               972   973   974   975   976   977   978   979   981

                       1809  ...   2041   2042   2043   2044   2045   2046  \
 country                     ...
 Afghanistan            674  ...   2880   2940   3000   3070   3130   3200
 Angola                 718  ...   8040   8220   8390   8570   8750   8940
 Albania                747  ...  24.5k    25k  25.5k  26.1k  26.6k  27.2k
 Andorra               1360  ...   108k   111k   113k   116k   118k   121k
 United Arab Emirates  1150  ...  74.5k  76.1k  77.7k  79.3k    81k  82.7k
 ...                    ...  ...    ...    ...    ...    ...    ...    ...
 Samoa                 1570  ...   8230   8410   8590   8770   8960   9150
 Yemen                 1010  ...   3980   4060   4150   4240   4330   4420
 South Africa          1480  ...  14.5k  14.8k  15.2k  15.5k  15.8k  16.1k
 Zambia                 758  ...   3530   3610   3680   3760   3840   3920
 Zimbabwe               982  ...   3490   3570   3640   3720   3800   3880

                        2047   2048   2049   2050
 country
 Afghanistan            3270   3340   3410   3480
 Angola                 9120   9320   9520   9720
 Albania               27.8k  28.3k  28.9k  29.6k
 Andorra                123k   126k   128k   131k
 United Arab Emirates  84.5k  86.3k  88.1k    90k
 ...                     ...    ...    ...    ...
 Samoa                  9340   9540   9740   9950
 Yemen                  4510   4610   4710   4810
 South Africa          16.5k  16.8k  17.2k  17.6k
 Zambia                 4010   4090   4180   4270
 Zimbabwe               3960   4050   4130   4220

 [195 rows x 251 columns],
 'data\\life_expectancy_years.csv':                       1800  1801  1802  1803  1804  1805  1806  1807  1808  \
 country
 Afghanistan           28.2  28.2  28.2  28.2  28.2  28.2  28.1  28.1  28.1
 Angola                27.0  27.0  27.0  27.0  27.0  27.0  27.0  27.0  27.0
 Albania               35.4  35.4  35.4  35.4  35.4  35.4  35.4  35.4  35.4
 Andorra                NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 United Arab Emirates  30.7  30.7  30.7  30.7  30.7  30.7  30.7  30.7  30.7
 ...                    ...   ...   ...   ...   ...   ...   ...   ...   ...
 Samoa                 25.4  25.4  25.4  25.4  25.4  25.4  25.4  25.4  25.4
 Yemen                 23.4  23.4  23.4  23.4  23.4  23.4  23.4  23.4  23.4
 South Africa          33.5  33.5  33.5  33.5  33.5  33.5  33.5  33.5  33.5
 Zambia                32.6  32.6  32.6  32.6  32.6  32.6  32.6  32.6  32.6
 Zimbabwe              33.7  33.7  33.7  33.7  33.7  33.7  33.7  33.7  33.7

                       1809  ...  2091  2092  2093  2094  2095  2096  2097  \
 country                     ...
 Afghanistan           28.1  ...  75.5  75.7  75.8  76.0  76.1  76.2  76.4
 Angola                27.0  ...  78.8  79.0  79.1  79.2  79.3  79.5  79.6
 Albania               35.4  ...  87.4  87.5  87.6  87.7  87.8  87.9  88.0
 Andorra                NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 United Arab Emirates  30.7  ...  82.4  82.5  82.6  82.7  82.8  82.9  83.0
 ...                    ...  ...   ...   ...   ...   ...   ...   ...   ...
 Samoa                 25.4  ...  79.8  79.9  80.0  80.1  80.3  80.4  80.5
 Yemen                 23.4  ...  76.9  77.0  77.1  77.3  77.4  77.5  77.6
 South Africa          33.5  ...  76.4  76.5  76.7  76.8  77.0  77.1  77.3
 Zambia                32.6  ...  75.8  76.0  76.1  76.3  76.4  76.5  76.7
 Zimbabwe              33.7  ...  73.3  73.4  73.5  73.7  73.8  73.9  74.0

                       2098  2099  2100
 country
 Afghanistan           76.5  76.6  76.8
 Angola                79.7  79.9  80.0
 Albania               88.2  88.3  88.4
 Andorra                NaN   NaN   NaN
 United Arab Emirates  83.1  83.2  83.3
 ...                    ...   ...   ...
 Samoa                 80.6  80.7  80.8
 Yemen                 77.8  77.9  78.0
 South Africa          77.4  77.5  77.7
 Zambia                76.8  77.0  77.1
 Zimbabwe              74.2  74.3  74.4

 [195 rows x 301 columns],
 'data\\population_total.csv':                        1800   1801   1802   1803   1804   1805   1806   1807  \
 country
 Afghanistan           3.28M  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M
 Angola                1.57M  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M
 Albania                400k   402k   404k   405k   407k   409k   411k   413k
 Andorra                2650   2650   2650   2650   2650   2650   2650   2650
 United Arab Emirates  40.2k  40.2k  40.2k  40.2k  40.2k  40.2k  40.2k  40.2k
 ...                     ...    ...    ...    ...    ...    ...    ...    ...
 Samoa                 47.3k  47.3k  47.3k  47.3k  47.3k  47.3k  47.3k  47.2k
 Yemen                 2.59M  2.59M  2.59M  2.59M  2.59M  2.59M  2.59M  2.59M
 South Africa          1.45M  1.45M  1.46M  1.46M  1.47M  1.47M  1.48M  1.49M
 Zambia                 747k   758k   770k   782k   794k   806k   818k   831k
 Zimbabwe              1.09M  1.09M  1.09M  1.09M  1.09M  1.09M  1.09M  1.09M

                        1808   1809  ...   2091   2092   2093   2094   2095  \
 country                             ...
 Afghanistan           3.28M  3.28M  ...  76.6M  76.4M  76.3M  76.1M    76M
 Angola                1.57M  1.57M  ...   168M   170M   172M   175M   177M
 Albania                414k   416k  ...  1.33M   1.3M  1.27M  1.25M  1.22M
 Andorra                2650   2650  ...    63k  62.9k  62.9k  62.8k  62.7k
 United Arab Emirates  40.2k  40.2k  ...  12.3M  12.4M  12.5M  12.5M  12.6M
 ...                     ...    ...  ...    ...    ...    ...    ...    ...
 Samoa                 47.2k  47.2k  ...   315k   314k   314k   314k   313k
 Yemen                 2.59M  2.59M  ...  54.5M  54.4M  54.3M  54.1M    54M
 South Africa          1.49M   1.5M  ...  79.8M  79.8M  79.7M  79.7M  79.6M
 Zambia                 843k   856k  ...  74.4M  75.2M    76M  76.8M  77.6M
 Zimbabwe              1.09M  1.09M  ...  30.8M  30.9M  30.9M  30.9M  30.9M

                        2096   2097   2098   2099   2100
 country
 Afghanistan           75.8M  75.6M  75.4M  75.2M  74.9M
 Angola                 179M   182M   184M   186M   188M
 Albania               1.19M  1.17M  1.14M  1.11M  1.09M
 Andorra               62.7k  62.6k  62.5k  62.5k  62.4k
 United Arab Emirates  12.7M  12.7M  12.8M  12.8M  12.9M
 ...                     ...    ...    ...    ...    ...
 Samoa                  313k   312k   312k   311k   310k
 Yemen                 53.8M  53.7M  53.5M  53.4M  53.2M
 South Africa          79.5M  79.5M  79.4M  79.3M  79.2M
 Zambia                78.4M  79.2M    80M  80.8M  81.5M
 Zimbabwe              30.9M    31M    31M    31M    31M

 [197 rows x 301 columns]}

In [15]:
for df in d:
    df.set_index("country",)

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
0,Afghanistan,674,674,674,674,674,674,674,674,674,...,2880,2940,3000,3070,3130,3200,3270,3340,3410,3480
1,Angola,691,693,697,700,702,705,709,712,716,...,8040,8220,8390,8570,8750,8940,9120,9320,9520,9720
2,Albania,746,746,746,746,746,747,747,747,747,...,24.5k,25k,25.5k,26.1k,26.6k,27.2k,27.8k,28.3k,28.9k,29.6k
3,Andorra,1340,1340,1340,1350,1350,1350,1350,1360,1360,...,108k,111k,113k,116k,118k,121k,123k,126k,128k,131k
4,United Arab Emirates,1120,1120,1120,1130,1130,1140,1140,1150,1150,...,74.5k,76.1k,77.7k,79.3k,81k,82.7k,84.5k,86.3k,88.1k,90k
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Samoa,1570,1570,1570,1570,1570,1570,1570,1570,1570,...,8230,8410,8590,8770,8960,9150,9340,9540,9740,9950
191,Yemen,981,983,986,988,992,994,997,1000,1000,...,3980,4060,4150,4240,4330,4420,4510,4610,4710,4810
192,South Africa,1760,1740,1720,1700,1680,1590,1590,1730,1510,...,14.5k,14.8k,15.2k,15.5k,15.8k,16.1k,16.5k,16.8k,17.2k,17.6k
193,Zambia,741,743,746,747,749,750,752,755,756,...,3530,3610,3680,3760,3840,3920,4010,4090,4180,4270
194,Zimbabwe,972,973,974,975,976,977,978,979,981,...,3490,3570,3640,3720,3800,3880,3960,4050,4130,4220